p.css-vertical-text {
	color:#333;
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:20px;
	height:20px;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	text-shadow: 0px 0px 1px #333;
}

div.seleccionable
{
	-webkit-box-shadow: 3px 3px 14px rgba(25, 25, 25, 0.5); 
	-moz-box-shadow:3px 3px 14px rgba(25, 25, 25, 0.5); 
	box-shadow:3px 3px 14px rgba(25, 25, 25, 0.5);
}

div.seleccionable:hover
{
	-webkit-box-shadow: 1px 3px 14px black; 
	-moz-box-shadow:3px 3px 14px black; 
	box-shadow:3px 3px 14px black;
}

div.seleccionable:active
{
	-webkit-box-shadow: 1px 1px 3px rgba(25, 25, 25, 0.5); 
	-moz-box-shadow:1px 1px 3px rgba(25, 25, 25, 0.5); 
	box-shadow:1px 1px 3px rgba(25, 25, 25, 0.5);
}

span#ETUSER
{
	-webkit-box-shadow: 3px 3px 14px rgba(25, 25, 25, 0.5); 
	-moz-box-shadow:3px 3px 14px rgba(25, 25, 25, 0.5); 
	box-shadow:3px 3px 14px rgba(25, 25, 25, 0.5);
}

span#ETUSER:hover
{
	-webkit-box-shadow: 1px 3px 14px black; 
	-moz-box-shadow:3px 3px 14px black; 
	box-shadow:3px 3px 14px black;
}

span#ETUSER:active
{
	-webkit-box-shadow: 1px 1px 3px rgba(25, 25, 25, 0.5); 
	-moz-box-shadow:1px 1px 3px rgba(25, 25, 25, 0.5); 
	box-shadow:1px 1px 3px rgba(25, 25, 25, 0.5);
}